<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="/images/green.jpg" type="image/jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <title>DEVELOPER</title>
</head>
<body  class="about-body">
    <section class="developer">
        <p class="welcome-user">Hello,<%if(!userInfo){%>
            <%=userInfo%>
            <%}%></p>
        <p class="about-developer">
            My name is Justina  and I'm a web developer who is passionate about what she does, I believe in self-development and growth.
            I am currently pursuing a Bs degree in computer science and I love learning, learning to me is constant.
    </p>
        <div class="link-btn logout">
            <a href="/auth/google/logout" class="logout">Logout</a>
        </div>

    </section>
</body>
</html>